@import '../../lib/notification.scss';

@mixin buttonTypeStyle($type, $color, $colorHover) {
  &.#{$type} {
    background-color: $color;

    &:hover {
      background-color: $colorHover;
    }
  }
}

.button {
  color: $text;
  cursor: pointer;
  background-color: $default;
  border: $border;
  border-radius: $borderRadius;
  font-size: 1em;
  padding: 0.5em 1em;
  margin-block-start: 0.2em;
  margin-block-end: 0.8em;

  &:hover {
    background-color: $defaultHover;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
  }

  &.padded {
    padding: 2em 3em;
  }

  &.block {
    display: block;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  &.active {
    opacity: 1;
    border: 2px solid #ffff;
  }

  &.inactive {
    opacity: 0.5;
    border: 2px solid #fff5;
  }

  @include buttonTypeStyle('default', $default, $defaultHover);
  @include buttonTypeStyle('info', $info, $infoHover);
  @include buttonTypeStyle('error', $error, $errorHover);
  @include buttonTypeStyle('success', $success, $successHover);
  @include buttonTypeStyle('warning', $warning, $warningHover);
}
