body {
  background-color: #000000;
  font-family: Gruppo, cursive;
}

.notification-container.bottom {
  // bottom: 200px;
  // height: 600px;
  // border: 1px solid white;
  // overflow-y: hidden;

  .notification {
    > .content > .body {
      font-size: 1.1em;
    }
  }
}
