body {
  background-color: #222;
  color: #ababab;
  font-size: 1.05em;
}

* {
  font-family: Gruppo, cursive;
  font-weight: 600;
}

input,
button {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #dedede;
}

.notification-container.bottom {
  .notification {
    > .content > .body {
      font-size: 1.1em;
    }
  }
}

.layout {
  margin: 60px;
  text-align: center;
}

code {
  background-color: #111;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  color: #bbb;
  border-bottom: 2px solid #444;
  border-radius: 4px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding: 1em;
  font-size: 0.8em;
}

.block {
  display: block;
}

.row {
  display: flex;
  flex-direction: column;

  &.spaced {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 800px) {
  .layout {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  .row {
    flex-direction: row;
    > div.col-3 {
      padding: 6px;
      width: 33.33%;
    }
  }
}
